h1 {
font-size: 80px;
}
body {
margin:0;
}
.feedback_form > h1{
    text-align: center;
    color: white;
    margin-top:0;
    margin-bottom:50px;
}
.feedback_form > p{
    color:white
}
.feedback_form{
    min-height:950px;
    background-position: top;
    text-align: center;
}
form{
    color:white;
}
.form_input{
    margin-bottom: 20px;
    width:60%;
    height:50%;
    padding:20px 40px;
}
.satisfaction, .join-sp{
    font-size: 20px;
}

input[type=submit] {
    width: 10em;  height: 2em;
}
